/* @font-face {
  font-family: 'Tofino';
  src: ('./fonts/TofinoPersonal-Regular.otf');
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

header {
  background-image: url("./images/Magia\ \(portada\ web\).jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 40px);
}

footer {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #909090;
}

#resp-footer {
  display: none;
}

@media only screen and (max-width: 34em) {
  header {
    background-image: url("/images/mobile/Magia\ -\ web\ movil\ 2.jpg");
    height: calc(100vh - 100px);
  }
  footer {
    height: 100px;
    font-size: 12px;
    line-height: 1.55;
  }
  #desk-footer {
    display: none;
  }
  #resp-footer {
    display: flex;
  }
}
